//
   Created by breno on 25/04/16.


table.table(ng-controller="CargosCtrl")
    thead
        tr
            th.col-md-10 Cargo
            th.col-md-2 Ações
    tbody
        tr(ng-repeat="cargo in cargos")
            td.col-md-10 {{cargo.nome}}
            td.col-md-2
                button.btn.btn-primary(type="button") Editar
                button.btn.btn-danger(type="button") &times Remover

div.row
    div.col-md-2.text-right
        label(for="usr") Novo cargo:
    div.col-md-6
        input.form-control(type="text", id="usr")
    div.col-md-4
        button.btn.btn-primary(type="button") + Adicionar




