table.table(ng-controller="PerfisCtrl")
    thead
        tr
            th.col-md-10 Perfil
            th.col-md-2 Ações
    tbody
        tr(ng-repeat="perfil in perfis")
            td.col-md-10 {{perfil.nome}}
            td.col-md-2
                button.btn.btn-primary(type="button") Editar
                button.btn.btn-danger(type="button") &times Remover
        
div.row
    div.col-md-2.text-right
        label(for="usr") Novo perfil:
    div.col-md-6
        input.form-control(type="text", id="usr")
    div.col-md-4
        button.btn.btn-primary(type="button") + Adicionar



