div(ng-controller="PerfisCtrl")

    div.row.top-margin
        div.col-md-12
            table.table
                thead
                    tr
                        th.col-md-7 Perfil
                        th.col-md-5
                tbody
                    tr(ng-repeat="perfil in perfis")
                        td.col-md-7 {{perfil.nome}}
                        td.col-md-5.text-right
                            button.btn.btn-primary(ng-click="mostrarEdit=!mostrarEdit")
                                span.glyphicon.glyphicon-edit
                                span  Editar
                            button.btn.btn-danger(ng-click=('remover(perfil)'))
                                span.glyphicon.glyphicon-minus
                                span  Remover
                            form(name="EditPerfil", ng-submit="editar(perfil)", ng-show="mostrarEdit")
                                div.col-md-7
                                    input.form-control(ng-model="perfil.nome", type="text")
                                div.col-md-5.text-left
                                    button.btn.btn-success.update_button(type="submit")
                                        span.glyphicon.glyphicon-ok
                                        span  Salvar
        form(name="AddPerfil", ng-submit="gravar(perfil)", ng-show="mostrarNew")
            div.col-md-12
                table.table
                    tbody
                        tr
                            td.col-md-7
                                input.form-control(ng-model="perfil.nome", type="text", required)
                            td.col-md-5.text-right
                                button.btn.btn-success(type="submit")
                                    span.glyphicon.glyphicon-ok
                                    span  Salvar
                                button.btn.btn-primary(disabled)
                                    span.glyphicon.glyphicon-edit
                                    span  Editar
                                button.btn.btn-danger(disabled)
                                    span.glyphicon.glyphicon-minus
                                    span  Remover

    button.btn.btn-primary(ng-click="mostrarNew=!mostrarNew")
        span.glyphicon.glyphicon-plus
        span  Adicionar
