//
   Created by breno on 25/04/16.

div.row
    div.col-md-1
    div.col-md-10
        table.table
            thead
                tr
                    th.col-md-10 Perfil
                    th.col-md-2 Ações
            tbody
                tr
                    td.col-md-10 Perfil A
                    td.col-md-2
                        button.btn.btn-primary(type="button") Editar
                        button.btn.btn-primary(type="button") Remover
                tr
                    td.col-md-10 Perfil B
                    td.col-md-2
                        button.btn.btn-primary(type="button") Editar
                        button.btn.btn-primary(type="button") Remover
                tr
                    td.col-md-10 Perfil C
                    td.col-md-2
                        button.btn.btn-primary(type="button") Editar
                        button.btn.btn-primary(type="button") Remover
                tr
                    td.col-md-10 Perfil D
                    td.col-md-2
                        button.btn.btn-primary(type="button") Editar
                        button.btn.btn-primary(type="button") Remover
    div.col-md-1

div.row
    div.col-md-1
    div.col-md-1.text-right
        label(for="usr") Name:
    div.col-md-6
        input.form-control(type="text", id="usr")
    div.col-md-3
        button.btn.btn-primary(type="button") + Adicionar
    div.col-md-1



